:root {
  --color-brand-green: #2fffb4;
  --color-brand-green-hover: #0c7b55;
  --color-text-neutral: #1a202c;
  --color-dark-gray: #202020;
  --color-title: #f2f2f2;
  --color-body: #eeeeee;
  --color-disabled: #222222;
  --color-disabled-text: #454545;
}
